<footer>
    <div class="left">
        <a href=""><i class="fa-solid fa-globe fa-lg"></i>ENGLISH (IN)</a>
        <a href=""><i class="fa-solid fa-indian-rupee-sign fa-lg"></i>INR</a>
        <a href="">
            <i class="fa-brands fa-square-facebook fa-lg"></i>
            <i class="fa-brands fa-square-instagram fa-lg"></i>
            <i class="fa-brands fa-linkedin fa-lg"></i>
        </a>
    </div>
    <div class="right">
        <div>&copy;2025 Wanderlust, Inc.</div>
        <div class="rBtm">
            <a href="">Privacy</i> </a> 
            <a href="">Terms</i> </a>
            <a href="">Company Details</i> </a>
            <a href="">Sites</i> </a>
        </div>
    </div>
</footer>